html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

body {
  background-color: #F2F2F7;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

.section-wrapper {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.main-titles {
  margin: 0;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  letter-spacing: 0.374px;
  color: #000000;
}

.main-texts {
  margin: 0;
  font-weight: 400;
  font-size: 34px;
  line-height: 41px;
  letter-spacing: 0.374px;
  color: #000000;
}